# Build artifacts and virtual environment
build/
dist/
myenv/

# Temporary files
*.pyc
*.swp

# IDE-specific files
*.DS_Store
.vscode/

# Sensitive data
secrets.json
passwords.txt

# Model wheel file
*.whl

# Dataset compress file
*.tar.gz